.btn-outline {
    color: #c6b787;
    border: 1px solid
}

.btn-outline:hover {
    background-color: #c6b787;
    border: 1px solid;
    color: #fff;
}
.btn-check:focus+.btn, .btn:focus {
    color: #c6b787;
    background-color: var(--bs-btn-hover-bg);
    border-color: #c6b787;
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.pagination-link {
    border-color: #dbdbdb;
    color: #363636;
    min-width: 2.5em;
    border-radius: 50% !important;
}
.pagination-link:focus, .pagination-next:focus, .pagination-previous:focus {
    border-color: #c6b787;
}
.next,
.previous {
    border-radius: 20% !important;
}

.imgintabel {
    width: 80px;
    height: 80px;
}


.fa-edit {
    color: #4a4a4a;
 
}

.fa-edit:hover {
    color: #ffc107;
}

.fa-trash-can {
    color: #4a4a4a;
}

.fa-trash-can:hover {
    color: #dc3545;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px 10px;
    vertical-align: middle;
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* max-width: calc(70em * 0.5); */
}

.modelimg{
    height: 400px;
}

.pagination-link.is-current {
    background-color: #c6b787;
    border-color: #c6b787;
    color: #fff;
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #c6b787;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(198 183 136/ 25%);
}

.save{
    background-color: #ffc107;
}
li a{
    text-decoration: none;
}